<ul class="torrent-list">
  {% for torrent in torrents %}
  {% let name = torrent.get(crate::transmission::types::TorrentGetKey::Name.borrow()).unwrap().as_str().unwrap() %}
  {% let progress = torrent.get(crate::transmission::types::TorrentGetKey::PercentDone.borrow()).unwrap().as_f64().unwrap() * 100.0 %}
  {% let progress2 = torrent.get(crate::transmission::types::TorrentGetKey::PercentComplete.borrow()).unwrap().as_f64().unwrap() * 100.0 %}
  {% let left_until_done = torrent.get(crate::transmission::types::TorrentGetKey::LeftUntilDone.borrow()).unwrap().as_u64().unwrap() %}
  {% let size_when_done = torrent.get(crate::transmission::types::TorrentGetKey::SizeWhenDone.borrow()).unwrap().as_u64().unwrap() %}
  {% let left_until_done = left_until_done / 1024 / 1024 %}
  {% let size_when_done = size_when_done / 1024 / 1024 %}
  {% let eta = torrent.get(crate::transmission::types::TorrentGetKey::Eta.borrow()) %}
  {% let finished = torrent.get(crate::transmission::types::TorrentGetKey::IsFinished.borrow()).unwrap().as_bool().unwrap() %}
  {% let wanted = torrent.get(crate::transmission::types::TorrentGetKey::Wanted.borrow()) %}
  {% let hash = torrent.get(crate::transmission::types::TorrentGetKey::HashString.borrow()).unwrap().as_str().unwrap() %}
  {% let labels = torrent.get(crate::transmission::types::TorrentGetKey::Labels.borrow()).unwrap().as_array().unwrap() %}
  {% let status = torrent.get(crate::transmission::types::TorrentGetKey::Status.borrow()).unwrap().as_u64().unwrap() %}
  {% let status = crate::transmission::types::TorrentStatus::try_from(status).unwrap() %}
  {% let status_ui = status.ui() %}
  <li data-hash="{{ hash }}" data-torrent-status="{{ status }}">
    <input id="torrent-selection-{{ hash }}" class="torrent-selection-input" type="radio" name="hash" value="{{ hash }}"
           {# close the existing sse connection before making a new one to try to help non-http/2 browsers #}
           hx-on::before-request="cleanupSse(event.detail.target);"
           hx-get="/stub/torrent" hx-trigger="change" hx-target="#panel" hx-preserve>
    <label for="torrent-selection-{{ hash }}"
           ondblclick="window.location.href='/torrent/'+event.currentTarget.parentElement.dataset.hash">
      <div class="main-section">
        <div class="name-and-labels">
          <div class="name">{{ name }}</div>
          {% if !labels.is_empty() %}
          <div class="labels">
            {% for label in labels %}
            <div class="label">{{ label.as_str().unwrap() }}</div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="status">{{ status_ui }} {% if finished %} (seeding complete) {% endif %}</div>
        <progress value="{{ progress }}" max="100"></progress>
        <div class="progress">
          {% if left_until_done != 0 %}
          {{ size_when_done - left_until_done }} MiB of
          {% endif %}
          {{ size_when_done }} MiB ({{ progress|fmt("{:.1}") }}%)
          {% if let Some(eta) = eta %}
          {% let eta = eta.as_i64().unwrap() %}
          {% if eta > 0 %}
          — {{ eta }} seconds remaining
          {% endif %}
          {% endif %}
          {% if let Some(wanted) = wanted %}
          {% let wanted = wanted.as_array().unwrap() %}
          {% let wanted_total = wanted.len() %}
          {% let wanted = wanted.iter().map(crate::template_helpers::json_num_to_bool)
                                       .map(Option::unwrap)
                                       .filter(crate::template_helpers::identity_copy)
                                       .count() %}
          {% if wanted != wanted_total %}
          — selected {{ wanted }}/{{ wanted_total }} file {%- if wanted != 1 -%} s {%- endif %}
          {% endif %}
          {% endif %}
        </div>
      </div>
    </label>
  </li>
  {% endfor %}
</ul>
<div class="torrent-count main-section">
  {# we could use css counters to show the torrent count, but there wouldn't be any way to optionally add the "s" #}
  {{ torrents.len() }} torrent {%- if torrents.len() != 1 -%} s {%- endif %}
</div>
